
@{
    Layout = null;
    ViewData["Title"] = "";
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="error-page">
        <div class="error-page-box" style="text-align:center;">
            @* <img src="/images/error-page.jpg" alt="Browser not supporing" style="width:800px;" />  *@       
    </div>
        <div class="browser-warning-txt">
            <p>
                For the optimal functionality, please access this website from your desktop or tablet using Google Chrome.
            </p>
        </div>
    </div>
</body>
</html>





 

