
@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="https://www.jubileechat.com/images/jubileechat_Avatar.png">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <style>
        img:is([sizes="auto" i], [sizes^="auto," i]) {
            contain-intrinsic-size: 3000px 1500px
        }</style>
    <meta name="application-name" content="Jubilee Chat" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta property="og:title" content="Jubilee Chat">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="https://www.jubileechat.com/">
    <meta property="og:image" content="https://www.jubileechat.com/images/jubileechat_Avatar.png">
    <meta property="og:image:width" content="700">
    <meta property="og:image:height" content="435">
    <meta property="og:image:type" content="image/webp">
    <meta property="og:type" content="website" />
    @*----------------------------------------------------------*@
    <link rel="canonical" href="">
    <meta name="robots" content="noindex,nofollow" />
    <meta property="al:android:url" content="">
    <meta property="al:android:package" content="com.linkedin.android">
    <meta property="al:android:app_name" content="JubileeChat">
    <meta property="al:ios:url" content="">
    <meta property="al:ios:app_store_id" content="288429040">
    <meta property="al:ios:app_name" content="JubileeChat">
    <meta charset="utf-8" />
    <title>Access Restricted</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="" id="lnkFavicon" asp-append-version="true" />

</head>
<body>
    <div class="error-page">
        <div class="error-page-box" style="text-align:center;">
            @* <img src="/images/error-page.jpg" alt="Browser not supporing" style="width:800px;" />  *@       
    </div>
        <div class="browser-warning-txt">
            <strong>Access Restricted</strong>
            <p>
                This content is not available. Please contact the administrator for support at <a href="mailto:gabe.ungureanu@outlook.com">gabe.ungureanu@outlook.com</a>.
            </p>
        </div>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/common.js" asp-append-version="true"></script>





 

