@model DataTypes.ModelDataTypes.Player.AlbumItems;
@{
    Layout = null;
    ViewData["Title"] = "Album";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>JIXQR</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="../css/player.css" rel="stylesheet">
    <!-- Favicons -->
    <link href="/images/askJubileeGPT-Logo-Small.png" rel="icon">
    <link href="/images/askJubileeGPT-Logo-Small.png" rel="Jubileechat">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Scrollbar CSS -->
    <link rel="stylesheet" href="../css/jquery.scrollbar.css" />
    <!-- CSS Files -->
</head>
<body>
    <div class="parent-wrapper">
        <div class="main-wrapper">
            <div class="search-pane-wrapper">
                <div class="back-to-home" onclick="history.back();" style="position: relative;top: 8px;">
                    <img b-1i96ctaahj="" src="../images/left-arrow.svg" alt="Back">
                </div>
            <div class="search-pane">
                <input type="text" onkeydown="if (event.key === 'Enter') SearchSong();" id="searchSong" class="search-bar" placeholder="Looking For..." />
                <div class="voice-search" onclick="SearchSong();">
                </div>
            </div>
            </div>
            <div id="albumlistdata"  class="album-list">

            </div>
           
        </div>
    </div>
    <input type="hidden" id="IsAlbum" value="@ViewBag.IsAlbum" />
    <input type="hidden" id="txtconatinerName" value="@ViewBag.ConatinerName" />
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <!-- Scrollbar Js -->
    <script src="~/lib/jquery.scrollbar.min.js"></script>
  </body>

</html>

<script src="~/js/player/player.js" asp-append-version="true"></script>