@*<div class="footer-bar" style="position: relative;">
    <p>Copyright &copy; 2023 Jubilee Shalom, Inc. All right reserved | <a href="termscondition">Terms of use</a> | <a href="/privacypolicy">Privacy Policy</a> | </p>
</div>*@

<div class="footer-bar" style="position: relative;">   
    <p>Copyright &copy; 2023 - @DateTime.Now.Year Jubilee Software, Inc. All Rights Reserved | <a href="termscondition">Terms of Use</a> | <a href="/privacypolicy">Privacy Policy</a> | </p>
</div>