.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

    .close-icon:hover {
        background-color: #ddd;
        color: #000;
    }

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.custom-tooltip {
    visibility: hidden;
    width: 140px; /* Adjust the width as needed */
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    top: 50%; /* Center vertically relative to the SVG */
    right: 110%; /* Position to the left of the SVG */
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

    .custom-tooltip::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%; /* Align the arrow to the right of the tooltip */
        transform: translateY(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent #333; /* Arrow pointing to the left */
    }

.tooltip-container:hover .custom-tooltip {
    visibility: visible;
    opacity: 1;
}
.no-data-message {
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
}
